@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/*Note above fonts used from Google APIs*/

/*Citation for the following function: base main.css boilerplate template*/
/*Date: 2/20/2025*/
/*Copied from /OR/ Adapted from /OR/ Based on: the base template was borrowed  from the one provided in CS290*/
/*Source URL: https://pamvanlonden.com/webdev/examples/global.css*/

/*Citation for the following function: Oregon State University Marketing Department Colors*/
/*Date: 2/20/2025*/
/*Copied from /OR/ Adapted from /OR/ Based on: Since our project is called "Beaver High School, we though OSU colors would be fitting*/
/*Source URL: https://communications.oregonstate.edu/brand-guide/visual-identity/colors  OSU marketing colors*/

/*   ----- Variables  -----  */
:root {
    --white: #FFFFFF; /* BUCKTOOTH WHITE */
    --orange: #D73F09; /* BEAVER ORANGE */
    --black: #000000; /* PADDLETAIL BLACK */
    --dark: #212529; /* Dark background */
    --offWhite: #f7f5f5; /* Off white background*/
    --bodyCopy:  #423e3c; /*Copy*/
    --navBack: #e9e5e4 /* Main navigation background*/
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    font-family: "Source Serif 4", serif; /* Define with at least one font name and its related generic family name.*/
    margin:0.5%;
    padding: 0.5%;
  }

  /*  ----- Page layout blocks -----  */

  header {
    background-color: var(--offWhite);
    font-family:"Fjalla One", sans-serif;
    color: var(--orange);
    text-wrap: pretty;
    font-size: xx-large;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    margin:0.5%;
    padding: 0.5%;
  }

 h2, h3, h4, h5, h6 {
    color: var(--black);
    margin:0.5%;
    padding: 0.5%;
    }

  /* differentiating h1 header color because of the top header background color*/
  h1 {
    font-family:"Fjalla One", sans-serif;
    color: var(--black);
    padding: 0.5%;
    margin: 0.5%;
    font-size: xx-large;
  }

  /*  ----- Navigation -----  */
  nav {
    display: flex;
    justify-content: center;
    padding: 0.5%;
    margin: 0.5%;
    background-color: var(--navBack);
    border: 2px solid var(--black);
    align-items: center;     /* Center vertically */
}

nav a {
    color: var(--orange);
    background-color: var(--offWhite);
    text-decoration: none;
    padding: 0.5%;
    margin: 0.5%;
    border-radius: 2px;
    border: 1px solid var(--black);
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s; /* ensure smooth transition when user hovers over buttons*/
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

nav a:hover {
    background-color: var(--dark);
    color: var(--orange);
}

section {
  background-color: var(--offWhite);
  border: 1px solid var(--black);
  margin:0 auto;
  padding: 0.5%;

}

#update_modal{
  display: none;
  background-color: var(--orange);
  position: absolute;
  top: 50%; 
  right: 50%; 
  width: fit-content; 
} 

  /*  -----  Typography  ----- */
  dt {
    font-family:"Fjalla One", sans-serif;
    color: var(--orange);
    font-size: x-large;
    margin:0 auto;
    padding: 0.5%;
  }
  dd {
    font-family:"Source Serif 4", sans-serif;
    color: var(--black);
    font-size: medium;
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center;     /* Center vertically */
    margin:0 auto;
    padding: 0.5%;
  }
  
  /*  ----- Table ----- */
  table {
    padding: 1%;
    margin: 1%;
    border-radius: 2px;
    border: 2px solid var(--black);
    background-color: var(--white);
  }
  caption {}
  thead {}
  tbody {}
  tfoot {}
  tr {}
    tr:nth-child(even) {}
  th {
      color: var(--orange);
      border: 1px solid var(--black);
      background-color: var(--white);
  }
  td {}
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {}
  fieldset {
    padding: 1%;
    margin: 1%;
    border: 1px solid var(--orange);
      background-color: var(--navBack);
  }
    legend {}
  label {
      padding: 0.5%;
      display: inline-block;
  }
  button {
      color: var(--black);
      background-color: var(--white);
       border: 1px solid var(--orange);
    padding: 0.5%;
      transition: background-color 0.3s, color 0.3s; /* ensure smooth transition when user hovers over buttons*/
  }
  button:hover {
      color: var(--orange);
      background-color: var(--dark);
  }
  input {
      display: inline-block;
  }

  img {
    width: auto;
      border: 1px solid var(--orange);
  }
  select {}
    optgroup {}
    option {}
  textarea {}
  output {}
  meter {}
  progress {}
  