<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"  type="text/css" media="screen" href="../static/css/main.css">
    <title>GradeLevels Table</title>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="gradelevels">Grade Levels</a>
    <a href="students">Students</a>
    <a href="teachers">Teachers</a>
    <a href="departments">Departments</a>
    <a href="courses">Courses</a>
    <a href="classsections">Class Sections</a>
    <a href="enrollments">Enrollments</a>
</nav>
<section>
<h1>Courses Table</h1>
<table border="1" cellpadding="5" style="border-collapse:collapse">
      <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in courses[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    {% for course in courses %}
      <tr>
 <!-- Then iterate through every key in the current person dictionary -->
        {% for key in course.keys() %}
        <td>{{course[key]}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
<form name="add_course" id="add_course" action="/courses/create" method="POST">
  <fieldset>
    <legend><strong>Add Course Record</strong></legend>
    <div>
      <label for="courseName">Course Name: </label>
      <input type="text" id="courseName" name="courseName"/>
    </div>
        <div>
      <label>Department:
          <select name="department" id="department">
            <option value="0">--Select from available Department Subject Areas--</option>
            {% for dep in departments %}
                <option value="{{ dep.departmentID }}">{{ dep.subjectArea }}</option>
            {% endfor %}
          </select>
      </label>
      <label>Grade Name:
          <select name="gradeLevel" id="gradeLevel">
            <option value="0">--Select from available Grade Levels--</option>
            {% for grade in grade_levels %}
                <option value="{{ grade.gradeLevelID }}">{{ grade.gradeName }}</option>
            {% endfor %}
          </select>
      </label>
    <label>
        <button type="submit" id="add_course">Add Course</button>
      </label>
  </fieldset>
</form>
  </section>
</body>
</html>