<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <title>Enrollments</title>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/gradelevels">Grade Levels</a>
        <a href="/students">Students</a>
        <a href="/teachers">Teachers</a>
        <a href="/departments">Departments</a>
        <a href="/courses">Courses</a>
        <a href="/classsections">Class Sections</a>
        <a href="/enrollments">Enrollments</a>
    </nav>
    <section>
    <h1>Enrollments Table</h1>
    <table border="1" cellpadding="5" style="border-collapse:collapse">
      <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in enrollments[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    {% for enrollment in enrollments %}
      <tr>
 <!-- Then iterate through every key in the current person dictionary -->
        {% for key in enrollment.keys() %}
        <td>{{enrollment[key]}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
    <form>
      <fieldset>
        <legend><strong>Add Enrollment Record</strong></legend>
        <div>
          <label for="student">Student: </label>
          <select name="student" id="student">
            <option value="">--Available Students--</option>
            <option>Priyanka Patel</option>
            <option>Rahul Patel</option>
            <option>Hideo Kojima</option>
            <option>Howard Howardson</option>
            <option>Ximena Cuaron</option>
            <option>Olaf Olafson</option>
          </select>
        </div>
        <div>
          <label for="coursename">Course Name: </label>
          <select name="coursename" id="coursename">
            <option value="">--Available Courses--</option>
            <option>English</option>
            <option>Sophomore</option>
            <option>AP Calculus</option>
            <option>Geometry</option>
            <option>Driver's Ed</option>
            <option>US History</option>
          </select>
        </div>
        <div>
          <label for="teacher">Teacher: </label>
          <select name="teacher" id="teacher">
            <option value="0">--Available Teachers--</option>
            <option value="1">Kate Jones</option>
            <option value="2">Brandon Lynn</option>
            <option value="3">Ruth Rosenberg</option>
            <option value="4">Brandon Lynn</option>
            <option value="5">Dave Kim</option>
            <option value="6">Sandra Springfield</option>
          </select>
        </div>
        <div>
          <label for="period">Period Number: </label>
          <input type="number" id="period" name="period" />
        </div>
        <div>
          <label for="classroom">Classroom Number: </label>
          <input type="number" id="classroom" name="classroom" />
        </div>
        <label for="addEnroll">
          <button type="submit" id="addEnroll">Enroll Student</button>
        </label>
      </fieldset>
    </form>
      </section>
  </body>
</html>
