<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/main.css') }}"/>
    <title>Enrollments</title>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/gradelevels">Grade Levels</a>
        <a href="/students">Students</a>
        <a href="/teachers">Teachers</a>
        <a href="/departments">Departments</a>
        <a href="/courses">Courses</a>
        <a href="/classsections">Class Sections</a>
        <a href="/enrollments">Enrollments</a>
    </nav>
    <section>
    <h1>Enrollments Table</h1>
    <table border="1" cellpadding="5" style="border-collapse:collapse">
      <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in enrollments[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    {% for enrollment in enrollments %}
      <tr>
 <!-- Then iterate through every key in the current person dictionary -->
        {% for key in enrollment.keys() %}
        <td>{{enrollment[key]}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
    <form name="add_enrollment" id="add_enrollment" action="/enrollments/create" method="POST">
      <fieldset>
        <legend><strong>Add Enrollment Record</strong></legend>
      <div>
      <label>Student:
          <select name="student" id="student">
            <option value="0">--Select from available Students--</option>
            {% for student in students %}
                <option value="{{ student.studentID }}">{{ student.student_record }}</option>
            {% endfor %}
          </select>
      </label>
      </div>
      <div>
      <label>Class Section:
          <select name="class_section" id="class_section">
            <option value="0">--Select from available Class Sections--</option>
            {% for class in class_sections %}
                <option value="{{ class.classSectionID }}">{{ class.ClassSection }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <button type="submit" id="add_enrollment">Enroll Student</button>
      </fieldset>
    </form>
      </section>
  </body>
</html>
