<!DOCTYPE j2>
<j2 lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet"  type="text/css" media="screen" href="static/css/main.css">
    <title>GradeLevels Table</title>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="gradelevels.j2">GradeLevels</a>
    <a href="gradelevels.j2">gradelevels</a>
    <a href="teachers.j2">Teachers</a>
    <a href="departments.j2">Departments</a>
    <a href="courses.j2">Courses</a>
    <a href="classsections.j2">ClassSections</a>
    <a href="enrollments.j2">Enrollments</a>
</nav>
<section>
<h1>GradeLevels Table</h1>
<table border="1" cellpadding="5" style="border-collapse:collapse">
      <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in gradelevels[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    {% for gradelevel in gradelevels %}
      <tr>
 <!-- Then iterate through every key in the current person dictionary -->
        {% for key in gradelevel.keys() %}
        <td>{{gradelevel[key]}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
<form>
  <fieldset>
    <legend><strong>Add GradeLevel Record</strong></legend>
    <div>
      <label for="gradeName">GradeLevel Name: </label>
      <input type="text" id="gradeName" name="gradeName"/>
    </div>
        <div>
      <label for="gradeNum">GradeLevel Number: </label>
      <input type="number" id="gradeNum" name="gradeNum"/>
    </div>
    <label for="addGrade">
        <button type="submit" id="addGrade">Add GradeLevel</button>
      </label>
  </fieldset>
</form>
    </section>
</body>
</j2>