<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type="text/css" media="screen" href="static/css/main.css">
    <title>BHS Homepage</title>
  </head>
  <header>Beaver High School Class Enrollments</header>
  <body>
  <nav>
    <a href="/">Home</a>
    <a href="gradelevels.j2">Grade Levels</a>
    <a href="students.j2">Students</a>
    <a href="teachers.j2">Teachers</a>
    <a href="departments.j2">Departments</a>
    <a href="courses.j2">Courses</a>
    <a href="classsections.j2">Class Sections</a>
    <a href="enrollments.j2">Enrollments</a>
  </nav>
  <section>
      <h1>Description of Webpages</h1>
    <dl>
      <dt>GradeLevels</dt>
      <dd>
        GradeLevel Table Directory. This webpage presents the current GradeLevel records in the database, with the DDL
        file loading the default Freshman, Sophomore, Junior, and Senior.
      </dd>
      <dt>Students</dt>
      <dd>
        Lists all records in the Students table in the BHS database and new students may be added to the table by the user here.
        There will be future functionality for the user to remove a student record from the database here via a SQL DELETE statement.
      </dd>
      <dt>Teachers</dt>
      <dd>
        Lists all records in the Teachers table in the BHS database and new teachers may be added to the table by the user here.
      </dd>
      <dt>Departments</dt>
      <dd>
        Lists all records in the Departments table and new departments may be added to the table by the user here.
      </dd>
      <dt>Courses</dt>
      <dd>
        Lists all records in the Courses table and new courses may be added to the table by the user here.
      </dd>
      <dt>ClassSections</dt>
      <dd>
        Lists all records in the ClassSections table and new class sections may be added to the table by the user here.
      </dd>
      <dt>Enrollments</dt>
      <dd>
        Lists all records in the Enrollments table and new enrollments may be added to the table by the user here.
      </dd>
    </dl>
    </section>
  </body>
</html>