<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type="text/css" media="screen" href="{{ url_for('static', filename='/css/main.css') }}">
    <title>BHS Homepage</title>
  </head>
  <header>Beaver High School Class Enrollments</header>
  <body>
  <nav>
    <a href="/">Home</a>
    <a href="/gradelevels">Grade Levels</a>
    <a href="/students">Students</a>
    <a href="/teachers">Teachers</a>
    <a href="/departments">Departments</a>
    <a href="/courses">Courses</a>
    <a href="/classsections">Class Sections</a>
    <a href="/enrollments">Enrollments</a>
  </nav>
  <section>
      <h1>Description of Webpages</h1>
    <dl>
      <dt>GradeLevels</dt>
      <dd>
        This page contains a READ view of the GradeLevels table in the database. It also has CREATE functionality,
        allowing the user to insert new records via the "Add GradeLevel Record" box underneath the data table.
        This webpage presents the current GradeLevel records in the database, with the DDL
        file loading the default Freshman, Sophomore, Junior, and Senior.
      </dd>
      <dt>Students</dt>
      <dd>
        This page contains a READ view of the Students table in the database. It also has CREATE functionality, allowing the user to insert new records via the "Add a Student" box underneath the data table. Lastly, it also has both UPDATE and DELETE functionality via the remove and update buttons. The remove button uses the flask_mysql Python library to run the SQL DELETE command against the database.
          The update button uses a JavaScript Modal implementation to prompt user input and run the update against the database. </dd>
      <dt>Teachers</dt>
      <dd>
       This page contains a READ view of the Teachers table in the database. It also has CREATE functionality, allowing the user to insert new records via the "Add a Teacher" box underneath the data table. Additionally, it includes DELETE functionality via the remove button.
          The remove button uses the flask_mysql Python library to run the SQL DELETE command against the database.
      </dd>
      <dt>Departments</dt>
      <dd>
        This page contains a READ view of the Departments table in the database. It also has CREATE functionality, allowing the user to insert new records via the "Add a Department" box underneath the data table.
      </dd>
      <dt>Courses</dt>
      <dd>
        This page contains a READ view of the Courses table in the database. It also has CREATE functionality, allowing the user to insert new records via the "Add a Course" box underneath the data table.
      </dd>
      <dt>ClassSections</dt>
      <dd>
        This page contains a READ view of the ClassSections table in the database. It also has CREATE functionality, allowing the user to insert new records via the "Add a Teacher" box underneath the data table. Additionally, it has UPDATE functionality via the update button on the right hand side of the table. The update button uses the flask_mysql Python library to run the SQL UPDATE command against the database.
          The logic to handle dynamically building the update statement via user input implemented on the backend using Python.
      </dd>
      <dt>Enrollments</dt>
      <dd>
        This page contains a READ view of the Enrollments table in the database. It also has CREATE functionality, allowing the user to insert new records via the "Add an Enrollment" box underneath the data table.
      </dd>
    </dl>
    </section>
  <section>
      <h1>Schema level Data Model of the backend MySQL Database for this webapp</h1>
        <img
                src="{{ schema_image_file }}"
                alt="Schema level Data Model of the backend MySQL Database for this webapp - 7 tables including
                GradeLevels, Students, Teachers, Course, ClassSections, Enrollments, and Departments"
        >
  </section>
  </body>
</html>