 <!-- 
 Citation of idea to make update button trigger a JavaScript function when clicked (onclick="openUpdateModal()") that displays the previously hidden update_form via CSS property value change (document.document.getElementById('update_modal').style.display = "block") and a close button on the modal to trigger a JavaScript function when clicked (onclick="closeUpdateModal()") that hides the modal (document.getElementById('update_modal').style.display = "none"). 
 Date: 3/16/2025
 Originality: Adapted by Iris from Create a Modal and Modal Image Gallery Sections of W3.CSS Modal page
 Source URL: https://www.w3schools.com/w3css/w3css_modal.asp
 --> 

 <!--
 Iris thought of and implemented setting current values of attributes of a record as default values in input fields of update modal's update form by making them parameters of the openUpdateModal function when update button clicked and setting the value attribute of the appropriate input fields to those parameters. 
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/main.css') }}">
    <title>Students</title>
    <script>
      function openUpdateModal(event, id, birthdate, fName, lName, grade) {
        event.preventDefault(); 
        document.getElementById('fName_update').value = fName;
        document.getElementById('lName_update').value = lName;
        document.getElementById('birthdate_update').value = birthdate;

        <-- TA Quinn Downey gave Iris the idea to show current selected dropdown option by default in update form by looping through grade levels and setting selectedIndex of HTML option based on whether the text of current option matched the grade parameter. TA Quinn Downey also suggested Iris use event.preventDefault() to prevent the students page from being reloaded and hiding the update modal right after the update button is clicked.  --> 

        for (var i = 0; i < document.getElementById("gradeLevel_update").options.length; i++) {
          if (document.getElementById("gradeLevel_update").options[i].text == grade) {
            document.getElementById("gradeLevel_update").selectedIndex = `${i}`;
          }
        }
        document.getElementById('update_student').action = `/students/update/${id}`
        document.getElementById('update_modal').style.display = "block";     
      }
      function closeUpdateModal() {
        document.getElementById('update_modal').style.display = "none";
      }
    </script>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/gradelevels">GradeLevels</a>
        <a href="/students">Students</a>
        <a href="/teachers">Teachers</a>
        <a href="/departments">Departments</a>
        <a href="/courses">Courses</a>
        <a href="/classsections">ClassSections</a>
        <a href="/enrollments">Enrollments</a>
    </nav>
    <section>
      <h1>Students Table</h1>
      <table border="1" cellpadding="5" style="border-collapse:collapse">
        <tr>
          <!-- Iterate through each key in the first entry to get the
          column name -->
          {% for key in students[0].keys() %}

          <!-- Create a <th> tag with the key inside of it, this will be
          our header row -->
          <th>{{ key }}</th>

          <!-- End of this for loop -->
          {% endfor %}
        </tr>
        {% for student in students %}
        {% set index = students.index(student) %}
        <tr>
        <!-- Then iterate through every key in the current person dictionary -->
          {% for key in student.keys() %}
            <td>{{student[key]}}</td>
          {% endfor %}
          <!-- Remove buttons on the Students page that trigger backend delete route and remove records from table in UI -->
          <td>
              <a href="/students/delete/{{student.studentID}}">
                <button>remove</button>
              </a>
          </td>
          <!-- Update buttons on the Students page that send students' information, via openUpdateModal JavaScript function, as default values for input fields on update modals -->
          <td>
              <a href="">
                <button onclick="openUpdateModal(event, {{student["studentID"]}},'{{student["Birthdate"]}}', '{{student["First Name"]}}', '{{student["Last Name"]}}', '{{student["Grade Name"]}}')">
                update
                </button>
              </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <!-- Add student form -->
      <form name="add_student" id="add_student" action="/students/create" method="POST">
          <fieldset>
            <legend><strong>Add a Student</strong></legend>
          <tr>
          <label>Last Name:
                <input
                name="lName"
                id="lName"
                type="text"
                required
              />
          </label>

          <label>First Name:
                <input
            id="fName"
            name="fName"
            type="text"
            required
          />
          </label>

          <label>Birthdate:
                <input
            name="birthdate"
            id="birthdate"
            type="date"
            required
          />
          </label>
          <label>Grade Name:
                <select name="gradeLevel" id="gradeLevel">
                <option value="0">--Select from available Grade Levels--</option>
                {% for grade in grade_levels %}
                    <option value="{{ grade.gradeLevelID }}">{{ grade.gradeName }}</option>
                {% endfor %}
          </select>
          </label>
            <button type="submit" id="add_student">Add Student</button>
          </fieldset>
      </form>
    </section>
    <div class="modal" id="update_modal">
        <button type="button" onclick="closeUpdateModal()">
          <span>&times;</span>
        </button>
        <div class="modal-body">
          <form id="update_student" name="update_student" method="POST">
            <p>
              <label>Last Name:</label>
              <input
                name="lName_update"
                id="lName_update"
                type="text"
                required/>
            </p>
            <p>
              <label>First Name:</label>
              <input
                id="fName_update"
                name="fName_update"
                type="text"
                required
              />
            </p>
            <p>
              <label>Birthdate:</label>
              <input
                name="birthdate_update"
                id="birthdate_update"
                type="date"
                required/>
            </p>
            <p>
              <label>Grade Name:</label>
              <select name="gradeLevel_update" id="gradeLevel_update">
                <option value="0">--Select from available Grade Levels--</option>
                {% for grade in grade_levels %}
                    <option value="{{ grade.gradeLevelID }}">{{ grade.gradeName }}</option>
                {% endfor %}
              </select>
            </p>
            <button type="submit" id="update_student">Update Student</button>
          </form>
        </div>
    </div>
  </body>
</html>
