<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet"  type="text/css" media="screen" href="static/css/main.css">
    <title>Students</title>
  </head>
  <body>
<nav>
    <a href="/">Home</a>
    <a href="gradelevels.j2">GradeLevels</a>
    <a href="students.j2">Students</a>
    <a href="teachers.j2">Teachers</a>
    <a href="departments.j2">Departments</a>
    <a href="courses.j2">Courses</a>
    <a href="classsections.j2">ClassSections</a>
    <a href="enrollments.j2">Enrollments</a>
</nav>
<section>
    <h1>Students Table</h1>
    <table border="1" cellpadding="5" style="border-collapse:collapse">
      <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in students[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    {% for student in students %}
      <tr>
 <!-- Then iterate through every key in the current person dictionary -->
        {% for key in student.keys() %}
        <td>{{student[key]}}</td>
        {% endfor %}
          <td><button type='button' onclick="delete_student('studentID')" >remove</button></td>
      </tr>
    {% endfor %}
    </table>
  <form>
      <fieldset>
        <legend><strong>Add a Student</strong></legend>
      <label for="lName">Last Name</label>
      <input
            name="lName"
            id="lName"
            type="text"
            required
          />
      <label for="fName">First Name</label>
      <input
        id="fName"
        name="fName"
        type="text"
        required
      />
      <label for="birthdate"
        >Birthdate</label>
      <input
        name="birthdate"
        id="birthdate"
        type="date"
        required
      />
      <label for="gradeLevel" >Grade Name: </label>
      <select name="gradeLevel" id="gradeLevel">
            <option value="0">--Select from available Grade Levels--</option>
            {% for grade in grade_levels %}
                <option value="{{ grade.gradeLevelID }}">{{ grade.gradeName }}</option>
            {% endfor %}
      </select>
      <label for="addstudent">
        <button type="submit" id="addstudent">Add Student</button>
      </label>
      </fieldset>
  </form>
  </section>
  </body>
</html>