<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/main.css') }}"/>
    <title>Update Class Section Record</title>
  </head>
  <body>
  <nav>
      <a href="/classsections">Abort update and return to Class Sections</a>
  </nav>
  <section>
<table border="1" cellpadding="5" style="border-collapse:collapse">
      <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in classsections[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
      </tr>
    {% for classsection in classsections %}
      <tr>
 <!-- Then iterate through every key in the current person dictionary -->
        {% for key in classsection.keys() %}
        <td>{{classsection[key]}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
<form name="edit_classsection" id="edit_classsection" action="/classsections/update/<int:id>" method="POST">
      <fieldset>
        <legend><strong>Add ClassSection Record</strong></legend>
      <label>Course:
          <select name="course" id="course">
            <option value="0">--Select from available Courses--</option>
            {% for course in courses %}
                <option value="{{ course.courseID }}">{{ course.name }}</option>
            {% endfor %}
          </select>
      </label>
      <label>Teacher:
          <select name="teacher" id="teacher">
            <option value="0">--Select from available Teachers--</option>
            {% for teacher in teachers %}
                <option value="{{ teacher.teacherID }}">{{ teacher.fullName }}</option>
            {% endfor %}
          </select>
      </label>
      <label for="period">Period Number: </label>
          <input type="number" id="period" name="period" />
      <label for="classroom">Classroom Number: </label>
          <input type="number" id="classroom" name="classroom" />
      <label for="startDate">Start Date</label>
          <input type="date" id="startDate" name="startDate" />
      <label for="endDate">End Date</label>
          <input type="date" id="endDate" name="endDate" />
        <label>
          <button type="submit" id="edit_classsection">Confirm update of ClassSection record</button>
        </label>
      </fieldset>
    </form>
  </section>
  </body>
</html>
